---
import RichResults from "@/components/RichResults.astro";

interface Preload {
    as: string;
    href: string;
    type: string;
    rel?: "preload" | "prefetch";
    crossorigin?: string;
}

interface Props {
    title: string;
    description: string;
    preload?: Array<Preload>;
    canonical?: string;
    image?: string;
}

const {
    title,
    description,
    preload,
    canonical,
    image = "https://jireh-english.vercel.app/Img/metadata.jpg",
} = Astro.props as Props;
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

{
    preload?.map(({ href, as, type, rel = "preload", crossorigin }) => (
        <link {rel} {href} {as} {type} {crossorigin} />
    ))
}

<link rel="canonical" href={canonical} />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#002d8c" />

<meta
    name="keywords"
    content="Clases de inglés en La Serena, cursos de inglés en La Serena, academia de inglés en Coquimbo, profesor de inglés nativo en La Serena, clases personalizadas de inglés en minería en Chile, inglés para profesionales en Coquimbo, inglés para turismo en La Serena, curso de inglés para negocios en La Serena, profesor de inglés en La Serena, inglés técnico para minería en Coquimbo, clases de inglés online en La Serena y Coquimbo, academia de inglés en la Cuarta Región, clases de inglés para adultos en Coquimbo, cursos intensivos de inglés en La Serena, inglés para viajar en La Serena, clases de inglés para ejecutivos en la Cuarta Región, clases de conversación en inglés en La Serena, inglés para minería en Chile, profesor de inglés para empresas en Coquimbo, inglés para guías turísticos en La Serena, clases de inglés avanzadas en Coquimbo, inglés especializado para minería en La Serena, cursos de inglés con profesor nativo en La Serena y Coquimbo, academia de inglés para adultos en La Serena y Coquimbo, clases prácticas de inglés en La Serena, curso de inglés técnico en la Cuarta Región, inglés profesional para negocios y turismo en La Serena y Coquimbo, academia de inglés de confianza en La Serena y Coquimbo"
/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(image, Astro.url)} />

<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:site_name" content="Jireh English Academy" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="es_ES" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/favicon.ico" />

<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="msapplication-config" content="/browserconfig.xml" />

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DF4FGPLGNL"
></script>
<script>
    //@ts-ignore
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        //@ts-ignore
        dataLayer.push(arguments);
    }
    //@ts-ignore
    gtag("js", new Date());
    //@ts-ignore
    gtag("config", "G-DF4FGPLGNL");
</script>

<!-- <script is:inline src="/registerSW.js"></script> -->
<!-- <link rel="manifest" href="/manifest.webmanifest" /> -->
<RichResults />
